<a href="https://colab.research.google.com/github/clumsycoder42525/PowerBI_Dashboards/blob/main/PowerBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("/content/Mobile Sales Data.xlsx")

In [4]:
df.size

53690

In [5]:
df.head(6)

,Transaction ID,Day,Month,Year,Day Name,Brand,Units Sold,Price Per Unit,Customer Name,Customer Age,City,Payment Method,Customer Ratings,Mobile Model
0,1,9,10,2021,Sat,Xiaomi,6,10174.70,Lalita Ahuja,38,Ludhiana,UPI,5,Redmi Note 10
1,2,9,10,2021,Saturday,Vivo,6,10565.19,Sneha Sharma,37,Delhi,Credit Card,3,Vivo Y51
2,3,9,10,2021,Saturday,Vivo,8,58527.58,Radha Srivastava,40,Mumbai,UPI,5,Vivo S1
3,4,10,10,2021,Sunday,Xiaomi,5,25563.98,Bhavana Arora,21,Mumbai,Credit Card,4,Mi 11
4,5,10,10,2021,Sunday,OnePlus,3,48168.02,Sneha Mehta,38,Gorakhpur,Cash,5,OnePlus 9
5,6,10,10,2021,Sunday,Samsung,3,37252.87,Reena Mehta,38,Jodhpur,UPI,3,Galaxy Note 20

In [15]:
def sample_date(a, b, c):
  return f"{a}-{b}-{c}"

In [18]:
df["Date"] = list(map(sample_date, df["Day"], df["Month"], df["Year"]))

In [25]:
import pandas as pd

df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")

# Ab data type check karein
print(df["Date"].dtype)

datetime64[ns]

In [26]:
df["Date"]

0      2021-10-09
1      2021-10-09
2      2021-10-09
3      2021-10-10
4      2021-10-10
          ...
3830   2024-10-07
3831   2024-10-08
3832   2024-10-08
3833   2024-10-08
3834   2024-10-08
Name: Date, Length: 3835, dtype: datetime64[ns]

In [29]:
import pandas as pd
file_path = 'your_data.csv'
df.to_csv(file_path, index=False)
print(f"DataFrame saved to '{file_path}'")
from google.colab import files
files.download(file_path)

DataFrame saved to 'your_data.csv'